body {
    font-family: 'Roboto Slab', serif;
    color: #000000;
}
h1 , h2 {
    font-size: 50px;
  
}
p {
    font-size: 20px;
    margin-bottom: 50px;
    
}
.primary-color {
    color: darkorange;
}
.homepage{
    display: flex;
    
}
.home-text{
    width: 50%;
    margin: 50px;
    padding: 15px;
}
.profile-image{
    padding: 15px;
}
.button{
   text-decoration: none;
   border-radius: 100px;
   padding: 8px 30px;
   color: honeydew;
   font-weight: 700;
   background: rgb(251,63,161);
   background: linear-gradient(90deg, rgba(251,63,161,1) 0%, rgba(237,122,6,1) 100%); 
   box-shadow: 0px 2px 30px  rgba(237,122,6,0.5);
   
 
}
/* this is about section */
.about-page {
    display: flex;
    background-image: url("images/bg-about.png");
    background-repeat: no-repeat;
    background-size: 100%;   
}
.about-image {
    width: 50%;
    padding: 50px;
    margin-left: 50px;
   
}
.about-description{
    width: 50%;
    margin-right: 40px;
    padding-top: 20px;
}
#about-txt{
    margin-right: 70px;
    padding-top: 20px;
}

/* My Recipe section */
#my-recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.recipe-list{
    display: flex;
    flex-direction: row;
    padding: 40px;
    

}
.food-item{
    width: 30%;
    text-align: center;
    box-shadow: 5px 5px 50px silver;
    margin: auto;
    border-radius: 25px;
    max-width: 300px;
    
}

.food-item-pic{
    border-radius: 30px;
    padding: 20px;
    width: 250px;
    height: 180px;

}
/* review section */    

.form-div{
    text-align: center;
    padding: 20px;
    background-color: honeydew;
    width: 100%;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid rgba(255 , 255 , 255, 0.3);
    box-shadow: 2px 2px 15px silver;

}
input[type=text]{
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    margin: 15px;
    padding: 7px;
    background-color: #efefef;
    box-shadow: inset 1px 1px 5px snow;
}
input[type=submit]{
    width: 200px;
    padding: 7px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 3px;
    background-color: rgba(250, 100, 0, 0.8);
    cursor: pointer;
}
/* customer review section */
.customer-review{
    margin-top: 40px;
    display: flex;
}
.customer-img{
    width: 25%;
    padding: 7px;
    height: 25%;
}
.customer{
    text-align: center;
    width: 20%;
    padding: auto;
    margin: auto;
    border-radius: 25px;
    box-shadow: 5px 5px 50px silver;
    max-width: 200px;
}
#customer-id{
    text-align: center;
    justify-content: center;
}
/* social media section */
.social-media{
    display: flex;
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    background-color: steelblue;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0px 0px 50px #fffafa;
}
.media{
    width: 30%;
    margin-left: 40px;
    padding: 20px;
}
.img-svg{
    width: 20%;
    padding: 5px;
    height: 20%;
}
footer{
    text-align: center;
    background-image: url("images/footer-bg.png");
    margin: 5px;
    padding: 15px;
    width: 100%;
    height: 100%;
}
